CONFIG_ESPTOOLPY_FLASHSIZE_8MB=
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

CONFIG_SPIRAM_MODE_QUAD=
CONFIG_SPIRAM_MODE_OCT=y

CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-16MiB.csv"

# MFN (small model), MBF (the bigger and better one)
CONFIG_HUMAN_FACE_FEAT_MFN_S8_V1=y
CONFIG_HUMAN_FACE_FEAT_MBF_S8_V1=n

# Include coco detect models
CONFIG_FLASH_COCO_DETECT_YOLO11N_S8_V1=n
CONFIG_FLASH_COCO_DETECT_YOLO11N_S8_V2=n
CONFIG_FLASH_COCO_DETECT_YOLO11N_S8_V3=n
CONFIG_FLASH_COCO_DETECT_YOLO11N_320_S8_V3=y

# Set COCO_DETECT_YOLO11N_320_S8_V3 as default
CONFIG_COCO_DETECT_YOLO11N_320_S8_V3=y
